body{
    font-family: 'Roboto', sans-serif;
}

nav{
    background-image: url('test.jpg');
    background-size: cover;
    background-position:center;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style-type: none;
    
}

li a{
    color: cornsilk; 
    text-decoration: none;
}

#test img{

    width: 300px;
    height: 300px;
}